.legend_u= t('.allocation_for_html', item: @person.name)

- if @floors.empty?
  %h4= t('.no_allocation')
- else
  - @floors.each do |floor|
    %p
      %h3 #{floor.complete_name}
      .entity-allocations{ id: "allocations-#{inc_center_index.to_s}", 'data-entity': 'people', 'data-entity-id': @person.id, 'data-floor-id': floor.id }
        %div#a
          = render partial: '/floors/drawing_allocations',
              locals: { allocation_obj: @person, floor: floor }
        %div#b