%tr.nested-fields
  %td
    = f.input_field :project_name, class: 'form-control'
    = show_error f.object, :project_name
  %td
    = f.input_field :requester_id, collection: Person.in_org(@org.id), class: 'form-control'
    = show_error f.object, :requester_id
  %td.hcenter
    = f.input_field :from_date, as: :string, class: 'datepicker date-field form-control auto-date', 'data-provide': 'datepicker'
    = show_error f.object, :from_date
  %td.hcenter
    = f.input_field :to_date, as: :string, class: 'datepicker date-field form-control', 'data-provide': 'datepicker'
    = show_error f.object, :to_date
  %td
    = link_to_remove_association t('cmn.destroy'), f, class: 'btn btn-xs btn-danger'
