= simple_form_for(@space_type) do |f|
  = f.error_notification

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        = link_to t('cmn.attributes'), "#Attributes", 'data-toggle' => :tab
      %li
        = link_to t('cmn.equipments'), "#Equips", 'data-toggle' => :tab
    .tab-content
      #Attributes.tab-pane.active
        %br/
        .form-inputs
          = f.input :name,       input_html: { :class => 'large-field' }
          = f.input :short_name, input_html: { :class => 'medium-field' }
          = f.input :spaces_count, as: :hidden
          = f.input :notes
      #Equips.tab-pane
        %br/
        = render :partial => 'equipment_items/equipment_selector', :object => @space_type
  %br/
  %br/
  .form-actions
    = f.button :submit
