-# Presents a modal dialog to show all space related information pertaining to
-# Personnel/Requirements, Equipments and Moving Items
-#
- alloctest = Allocation.new
- alloctest.space = show_modal
.modal-header
  %button.close{ type: 'button', onclick: 'hide_modal(event);' } &times;
  %h3
    <b>#{show_modal.complete_short_name}</b>
  %h4
    - if show_modal.space_type.nil?
      = t('.space_type_undefined')
    - else
      = "#{show_modal.space_type.name}"
.modal-body
  .tabbable
    %ul.nav.nav-pills
      %li.active
        = link_to t('cmn.person_requirement'), '#ModalAllocs', 'data-toggle': :tab
      - if show_modal.allocate_equipment?
        %li
          = link_to t('cmn.equipments'), '#ModalEquips', 'data-toggle': :tab
      - if show_modal.moving_items?
        %li
          = link_to t('cmn.moving_items'), '#ModalMovingItems', 'data-toggle': :tab
    .tab-content
      #ModalAllocs.tab-pane.active
        .scrollable
        %br/
        = render partial: 'spaces/allocations', object: show_modal
        - if show_modal.allocate_equipment?
          = render partial: 'spaces/equip_photos', object: show_modal

      - if show_modal.allocate_equipment?
        #ModalEquips.tab-pane
          .scrollable
            = render partial: 'spaces/equipment', object: show_modal

      - if show_modal.moving_items?
        #ModalMovingItems.tab-pane
          .scrollable
            = render partial: 'spaces/moving_items', object: show_modal

.modal-footer
  = remote_link_to(t('.new_allocation'), new_allocation_path(space_id: show_modal.id), class: 'btn btn-primary', 'data-dismiss': :modal, 'data-target': '#modal-dialog') if can? :new, alloctest
  = link_to t('cmn.close'), '#', onclick: 'hide_modal(event);', class: 'btn btn-primary'
