.legend_u= t('.change_password_for_html', item: h(@user.username))

= simple_form_for(@user, url: do_change_password_users_path, remote: true, html: { method: :patch }) do |f|

  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-inputs
    = f.input :password, label: t('.new_password'), required: true, input_html: { class: 'medium-field', autocomplete: 'off' }
    = f.input :password_confirmation, label: t('.confirm'), required: true, input_html: { class: 'medium-field' }
    = f.input :current_password, hint: t('.password_confirm'), required: true, input_html: { class: 'medium-field' }
  .form-actions
    = f.button :submit, t('.change_password')
