= simple_form_for(@equipment_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: "large-field"}
    = f.input :order, input_html: { class: "small-field"}
    -#= f.association :equipment_group

  .form-actions
    = f.button :submit
